body {
	background-color: #DDDDDD;
}

.shadow {
	box-shadow: -4px 9px 15px -4px rgba(0,0,0,0.4);
	background-color: #FFFFFF;
	border-radius: 3px 3px 3px 3px;
}

#title {
	padding: 10px;
	text-align: center;
	font-family: 'Oswald';
	margin-bottom: 25px;
}

.smart {
	font-weight: bolder;
	color: red;
}

.box {
	display: table;
	padding: 0 10%;
}

.bold {
	font-weight: bolder;
}